<!DOCTYPE html>
<html>
    {{> header }}
    <body>
        {{> nav }}
        <h1>{{pageTitle}}</h1>
        <p>Some text here</p>
        <p>{{welcomeMessage}}</p>
    {{> footer }}
    </body>
</html>